<h1 class="display-1">records page</h1>

<a href="/records/new">new record</a>


{{#each records}}

<ul>
    <li>{{ this.id }}</li>
    <li>{{ this.schedule }}</li>
    <li>{{ this.title }}</li>
    <li>{{ this.description }}</li>
    <li>{{ this.expectedIssues }}</li>
    <li>{{ this.incharge }}</li>
    <li>{{ this.slackChannel }}</li>
</ul>

<a type="button" class="btn btn-success" href="/records/{{this._id}}">show</a>
{{/each}}