<h1 class="display-1">records page</h1>

<a href="/records/new">new record</a>


{{#each records}}

<ul>
    <li>ID {{ this.id }}</li>
    <li>Schedule {{ this.schedule }}</li>
    <li>Title {{ this.title }}</li>
    <li>Description {{ this.description }}</li>
    <li>Forseen Issues that May Arise {{ this.expectedIssues }}</li>
    <li>Maintenance Incharge {{ this.incharge }}</li>
    <li>Slack Channel to Follow {{ this.slackChannel }}</li>
</ul>

<a type="button" class="btn btn-success" href="/records/{{this._id}}">show</a>
{{/each}}