<div class="container-fluid" style="margin-bottom: 5em;">
    
 
    <div class="title">
            <h2>{{ records.title }}</h2>
        </div>
        
    <div class="row">
        <div class="col-md-8">
            <div class="items">
                <h6>ID</h6>
                <hr>
                <p>{{ records.id }}</p>
            </div>
            <div class="items">
                <h6>Schedule Date</h6>
                <p>{{ records.scheduled }}</p>
            </div>
            <div class="items">
                <h6>Title</h6>
                <hr>
                <p>{{ records.title }}</p>
            </div>
            <div class="items">
                <h6>Description</h6>
                <hr>
                <p>{{ records.description }}</p>
            </div>
            <div class="items">
                <h6>Forseem Issues That May Arise</h6>
                <hr>
                <p>{{ records.expectedIssues }}</p>
            </div>
            <div class="items">
                <h6>People In-charge</h6>
                <hr>
                <p>{{ records.incharge }}</p>
            </div>
            <div class="items">
                <h6>Slack Channel for Communication</h6>
                <hr>
                <p>{{ records.slackChannel }}</p>
            </div>    
            <div id="showBtns" class="float-right">
            <a href="/records/{{records._id}}/edit" class="btn btn-primary" style="float: left;">Edit</a> 
            
            <form action="/records/{{ records._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button role="submit" class="btn btn-danger">Delete</button>
            </form>    
            </div>
        </div>
        
        <div class="col-md-4">
            <br>
            <div class="card">
                <div class="card-body text-white bg-primary">
                    <h6 class="card-title">Pre-Deploy Tasks</h6>
                </div>
                
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Send Client Notification
                    <a href="/records/{{records._id}}/exmail">Send</a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Send Internal Notification
                    <a href="/records/{{records._id}}/inmail">Send</a>
                  </li>
                </ul>
            </div> 
            <br><br>
            <div class="card">
                <div class="card-body text-white bg-primary">
                    <h6 class="card-title">Tasks Checklist</h6> <br>
                    <input type="text" class="form-control" placeholder="Enter Checklist Items" id="checklistInput" onchange="newChecklist()">
                </div>
                
                <ul class="list-group" id="checklistUL">
                  
                </ul>
            </div>  
        </div>
    </div>
</div>














<script src="../js/checklist.js"></script>
